.Button {
  border: 2px solid transparent;
  /* box-shadow: 0px 3px 1px 0px #A8B5DE80 inset; */
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #ffffff;
}

.Button.expanded {
  width: 100%;
}

.Button.primary {
  background-color: #3556ab;
  border-color: #3556ab;
}

.Button.danger {
  background-color: #ab3535;
  border-color: #ab3535;
}

.Button.outlined {
  color: #071d55;
  background-color: #fff;
  border: 1px solid #071d55;
}

.Button.lg {
  padding: 1.4rem 2.4rem;
}

.Button.md {
  padding: 1rem 1.4rem;
}
